<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/bulma.min.css">
    <title>あなたのセッション ID は…</title>
</head>

<body>
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-three-quarters">
                <section class="section">
                    <div class="mt-6">
                        <h1 class="title is-1">セッション ID</h1>
                    </div>
                    <p>あなたのセッション ID は、{{ sessid }} です。</p>
                    <p>絶対他の人に教えちゃだめですよ！</p>
                </section>
            </div>
        </div>
    </div>
</body>

</html>