<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <title>うらない</title>
</head>

<body>
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-three-quarters">
                <div class="mt-6">
                    <h1 class="title is-1">うらない</h1>
                </div>

                <hr />
                {% block body %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>

</html>