<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  <title>Burp Repeater</title>
</head>

<body>
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-three-quarters">
        <div class="mt-6">
          <h1 class="title is-1">Burp Repeater</h1>
        </div>

        <hr />

        <section class="section">
          <h2 class="title is-3">課題</h2>
          <p>このページに対する GET リクエストに、以下のリクエストヘッダを付加してみてください。うまくいくとフラグが表示されます。</p>
          <pre>X-Gimme: Flag</pre>
          {% if flag %}
          <p>成功です！{{ flag }}</p>
          {% endif %}
        </section>

      </div>
    </div>
  </div>
</body>

</html>