<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  <title>テスト</title>
</head>

<body>
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-three-quarters">
        <div class="mt-6">
          <h1 class="title is-1">テスト</h1>
        </div>

        <hr />

        <section class="section">
          <h2 class="title is-3">test</h2>
          <div id="files">
            test
          </div>
        </section>

      </div>
    </div>
  </div>
</body>

</html>